/* Everywhere */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Containers to align items inside a <section> or others macroelements horizontally */
.container-narrow , .container-wide {
    margin: auto;
    width: 90%;
}

.container-narrow {
    max-width: 1000px;
}

.container-wide {
    max-width: 1250px;
}

/* Visual buttons for <a> and <button> */
.button-visual-stnd , .button-visual-alt {
    padding: 0.5em 1em;
    border-radius: 2em;
}

.button-visual-stnd:hover , .button-visual-alt:hover {
    box-shadow: 0 0.4em 0.8em #00000050;
}

.button-visual-stnd {
    background-color: #ffffff;
    color: #23272a;
}

.button-visual-stnd:hover {
    color: #2a5ee8;
}

.button-visual-alt {
    background-color: #23272a;
    color: #ffffff;
}

.button-visual-alt:hover {
    background-color: #42494e;
}


/* Header */
header {
    background-image: url(images/background/jumbo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-color: #2a5ee8;

    color: #ffffff;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    
    font-weight: 600;
}

/* Navigation bar on top */
.sticky-header > nav {
    background-color: #2a5ee8;
    border-radius: 1rem;
    padding: 0 1rem;
    min-height: 4rem;
}

.sticky-header > nav > div {
    width: 15%;
}

/* Logo */
.sticky-header > nav img {
    height: 2.5rem;
    padding-top: 0.25rem;
}

/* Central part of the navigation bar */
.sticky-header ul {
    width: 68%;
    
    list-style: none;
    justify-content: center;
}

.sticky-header ul > li {
    padding: 0.5rem 1.5rem;
}

.sticky-header ul > li:hover {
    text-decoration: underline;
}

/* Auth button */
.sticky-header > nav > div:last-child {
    text-align: right;
}

.not-sticky-header {
    padding: 7rem 0 10rem;
    
    text-align: center;
    font-size: 1.5rem;
}

.not-sticky-header h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.not-sticky-header p {
    padding: 2.5rem 0;
    line-height: 1.5;
}

.not-sticky-header a {
    display: inline-block;
    margin: 0 0.75rem;
}

/* Main */
main > section {
    padding: 2.5rem 0;
}

main > section:nth-child(even) {
    background-color: #f6f6f6;
}

.column-img {
    width: 60%;
}

.column-txt {
    width: 40%;
}


/* Footer */
footer {
    background-color: #23272a;
}

footer > section {
    padding: 2.5rem 0;
}

footer > section:first-child {
    padding-top: 1.5rem;
}

#foter-main-nav {
    align-items: flex-start;
}

.socials-and-lang {
    width: calc(100%/3);
}

.nav-details {
    width: calc(100%/6);
}



/* DEBUG DEBUG DEBUG */

/* .container-narrow {
    min-height: 35rem;
    background-color: violet;
    border: 2px dashed black;
}

.container-wide {
    border: 2px dashed black;
    background-color: aquamarine;
}

.sticky-header > nav > div {
    background-color: bisque;
    border: 2px dotted white;
}

.column-img {
    min-height: 35rem;
    background-color: purple;
    border: 2px dotted white;
}

.column-txt {
    min-height: 35rem;
    background-color: yellowgreen;
    border: 2px dotted white;
}

main .container-wide {
    min-height: 35rem;
}

.socials-and-lang  {
    min-height: 35rem;
    background-color: orange;
    border: 2px dotted white;
}

.nav-details  {
    min-height: 35rem;
    background-color: red;
    border: 2px dotted white;
}

footer nav > a {
    background-color: bisque;
    border: 2px dotted white;
} */