/* Everywhere */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.info-box {
    background-color: #f6f6f6;
    border-radius: 0.5rem;
}

[class^="card"] {
    flex-basis: calc(50% - 1.25rem);
    min-width: 28rem;
    margin: 0.625rem 0;

    display: flex;
    flex-flow: column nowrap;
}

/* Header */
header {
    background-image: linear-gradient(0deg, #db85f4 0%, #8887f5 80%);
    margin-bottom: 24rem;
}

header , header .nav-bar {
    background-color: #8887f5;
}


/* Jumbo of the page */
.not-sticky-header {
    text-align: left;
}

.header-txt {
    width: 30%;
    min-width: 14.5rem;
    max-width: 20.5rem;
}

.not-sticky-header h1 {
    font-size: 3.25rem;
    font-weight: 700;
}

.not-sticky-header p {
    padding-top: 1.5rem;
    line-height: 1.25;
}

.header-img {
    width: 55%;
    min-width: 14.5rem;
}

.header-img img {
    width: 100%;
}

.anchor {
    position: relative;
}

header .container-cards {
    width: 100%;
    position: absolute;
}

[class^="card-nitro"] {
    padding: 1.5rem;

    justify-content: flex-start;
    align-items: flex-start;
}

.card-nitro-basic {
    background: #2a5ee8 linear-gradient(45deg, #2a5ee8 0%, #61ade0 100%);
}

.card-nitro-premium {
    background: #8547c6 linear-gradient(135deg, #8547c6 0%, #b44db0 100%);
}

[class^="card-nitro"] img {
    height: 1em;
    vertical-align: text-bottom;
}

[class^="card-nitro"] > li:first-child {
    margin-bottom: 1.5rem;
}

[class^="card-nitro"] .plan-logo {
    height: 1.75rem;
}

[class^="card-nitro"] > li {
    margin-bottom: 1rem;
    vertical-align: text-top;
}

.icon-container {
    display: inline-block;
    width: 1.30em;
}

[class^="card-nitro"] > li:last-child {
    margin: auto auto 0;
    width: 100%;

    text-align: center;
    font-weight: 700;
}

[class^="card-nitro"] a {
    width: 100%;
}


/* Main */
main section {
    margin-top: 5rem;
}

main h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

    margin-bottom: 4rem;
}

.card {
    padding: 2.5rem;

    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 25rem;
    margin-bottom: 2rem;
}

.container-cards + a {
    display: block;
    margin: 2rem auto;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-weight: 700;
}

/* Table */
.info-box:not(.card) {
    margin: 0 0.625rem;
    padding: 5rem;
}

.features-comparison {
    width: 100%;

    font-size: 1.25rem;
}

.features-comparison span {
    display: block;
}

.features-comparison tr {
    width: 100%;
    min-height: 5rem;
    padding: 1rem;
    border-bottom: 1px solid #23272a22;

    display: flex;
    align-items: center;
}

.features-comparison tr > * {
    width: 17.5%;

    text-align: center;
}

.features-comparison tr > *:first-child {
    width: 65%;

    text-align: left;
    font-weight: 400;
}

.features-comparison thead th {
    align-self: flex-start;
}

.features-comparison thead th:first-child {
    font-weight: 700;
}

.features-comparison tbody th {
    font-weight: 600;
}

.features-comparison tbody td {
    font-weight: 600;
    font-size: 0.95rem;
}

.features-comparison > tfoot > tr {
    border-bottom: none;
    font-size: 0.95rem;
}