/* Everywhere */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #23272a;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style: none;
}

table , tbody , tfoot , thead , tr , th , td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

.header-main-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Containers to align items inside a <section> or others macroelements horizontally */
.container-narrow , .container-wide {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container-narrow {
    max-width: 750px;
}

.container-wide {
    max-width: 1250px;
}

/* Visual buttons for <a> and <button> */
[class^="button-visual"] {
    display: inline-block;
    padding: 0.75em 1em;
    border-radius: 2em;
}

[class^="button-visual"]:hover {
    box-shadow: 0 0.4em 0.8em #00000050;
}

.button-visual-white {
    background-color: #ffffff;
    color: #23272a;
}

.button-visual-white:hover {
    color: #2a5ee8;
}

.button-visual-grey {
    background-color: #23272a;
    color: #ffffff;
}

.button-visual-grey:hover {
    background-color: #42494e;
}

.button-visual-blue {
    background-color: #2a5ee8;
    color: #ffffff;
}

.button-visual-blue:hover {
    background-color: #4777fc;
}


/* Header */
header {
   color: #ffffff;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    z-index: 5;
    
    font-size: 1rem;
    font-weight: 600;
}

/* Navigation bar on top */
header .nav-bar {
    border-radius: 1rem;
    padding: 0 1rem;
    min-height: 4rem;
}

header .nav-bar > div {
    width: 15%;
}

/* Logo */
.sticky-header img {
    height: 2.5rem;
    padding-top: 0.25rem;
}

/* Central part of the navigation bar */
#sub-nav-bar-top {
    width: 68%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sub-nav-bar-top li {
    padding: 0.75rem 1.5rem;
}

#sub-nav-bar-top a:hover {
    text-decoration: underline;
}

/* Auth button */
#sub-nav-bar-top + div {
    text-align: right;
}

/* Jumbo of the page */
.not-sticky-header {
    padding: 7rem 0 10rem;
    
    font-size: 1.25rem;
}


/* Footer */
footer {
    padding: 4rem 0;
    background-color: #23272a;

    color: #ffffff;
    font-size: 1rem;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.socials-and-lang {
    min-width: 13.75rem;
    flex-basis: calc(100%/3);
    padding: 0 0.75rem;
}

.socials-and-lang > * {
    padding: 1.25rem 0;
}

.language-selector {
    display: block;
    font-size: 0.875rem;
}

.language-selector img {
    vertical-align: text-bottom;
    height: 1rem;
}

.socials-links {
    max-width: 13.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 1.5rem;
}

#footer-main-nav > .footer-flex {
    flex-basis: calc(2*(100%/3));
}

#footer-main-nav > .footer-flex > .footer-flex {
    flex-basis: 50%;
}

.nav-details {
    min-width: 8.75rem;
    flex-basis: 50%;
    padding: 0 0.75rem 2rem;
}

.nav-details > li {
    padding-top: 0.5rem;
    line-height: 1.5rem;
}

.nav-details > li:hover {
    text-decoration: underline;
}

.nav-details > li:first-child {
    padding: 0 0 1.25rem;

    color: #2a5ee8;
    text-decoration: none;
}

footer .nav-bar {
    padding-top: 2rem;
    border-top: 2px solid #2a5ee8;

    font-size: 1rem;
    font-weight: 600;
}